.whole_page{
   height: fit-content;
   background: gray;
   text-decoration-color: whitesmoke;
}

.planetButton {
   position: absolute;
   z-index: 3;
   background: transparent;
}

.Intro{
   position: relative;
   top:0;
   left: 200pt;
   height: 500px;
   width: 500px;
   z-index: 2;
   /* introduction */
}

.AboutButton{
   position: absolute;
   top:0;
   left: 400px;
   height: 150px;
   width: 150px;
   offset: 200px;
   z-index: 3;
   /* about button */
}

.GitHub {
   position: absolute;
   height: 200px;
   width: 250px;
   offset: 250px;
   z-index: 3;
   /* github link */
}

.contactButton {
   position: absolute;
   height: 175px;
   width: 175px;
   offset: 200px;
   z-index: 3;
}
