{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Portfolio</title>
    <script src="{% static 'js/space.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/starting.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/circletype@2.3.0/dist/circletype.min.js"></script>
</head>

<body style="background-image: url('{% static 'background.png' %}')" onresize="adjustPlanets()" onload="adjustPlanets()">
<div class="planetButton">
    <a href="https://github.com/rjcowans/" target="_blank"> <input  class="GitHub" alt="GitHub" id="GitHub"
            src="{% static 'neptune.png' %}"
            type="image" >
        </a>
    <label for="GitHub">
         <p id="wrapGitHub" style="color: ghostwhite" >
             GitHub
         </p>
    </label>
    <input class="AboutButton" alt="AboutMe" id="AboutMe"
            onclick="alert(1);"
            src="{%  static 'titan.png' %}"
            type="image">

    <input class="Intro"
           id="Intro"
           alt="Introduction"
           onclick="alert(1);"
           src="{% static 'sun.png' %}"
           type="image" >

    <input class="contactButton"
           id="contactButton"
           alt="Contact"
           onclick="alert(1);"
           src="{% static 'earth.png' %}"
           type="image">
</div>
</body>
</html>