{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Portfolio</title>
    <script src="{% static 'js/space.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/starting.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body class="loadpage">
<div class="whole_page">
    <span>Richard</span>
    <span>Cowans</span>
    <span>Portfolio</span>
</div>

</body>
